$primary-color: #3498db;
$secondary-color: #ffffff;
$tertiary-color: #97DB34;
$quaternary-color: rgba(219,52,152,0.4);

$text-color-white: #ffffff;
$text-color-black: #000000;

$background-color: #f0efef;

