/*--------------------------------------------------------------
# Button Section
--------------------------------------------------------------*/

button{
    background-color: #97DB34;
    padding: 10px;
    border-radius: 5%;
    border: none;
    margin-left: 10px;
}