@use '../abstracts/_variables' as *;
/*--------------------------------------------------------------
# Medical Equipment Section
--------------------------------------------------------------*/
.section__medical{
    width: 400px;
    display: flex;
    padding: 15px;
}

.medical__box{
    width: 300px;
    text-align: center;    
}

.filter{
    text-align: center;
    padding-bottom: 1em;
}

.filter-title{
    padding: 1em;
}

.filter-list {
    list-style: none; 
    padding-top: 1em;
}